* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin-bottom: 20px;
    background-color: #f3f5fc;
    box-sizing: border-box;
    width: 100%;
}

.container,
.information-text,
.left-area,
.alura-logo,
.button-bar,
.copy-button,
.right-area,
.side-result-container,
.bottom-area,
.bottom-container,
.input-text-container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    height: 100%;
}

.left-area {
    width: 60%;
    flex-direction: column;
}

.alura-logo {
    /*margin: 2.5rem 0 0 2.5rem;*/
    width: 112px;
    height: 128px;
    justify-content: center;
    align-items: center;
}

.input-text {
    width: 36.0625rem;
    height: 31.25rem;
    background-color: #f3f5fc;
    border: none;
}

.input-text::placeholder,
.input-text {
    font-family: sans-serif;
    font-style: normal;
}

.input-text::placeholder,
.input-text,
.info,
.encrypt,
.decrypt,
.text-sidebar-caps,
.text-sidebar-nothing,
.text-sidebar,
.copy-button {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0a3871;
}

.input-text-container {
    /*margin: 5rem 0 0 15rem;*/
    width: 100%;
    height: 580px;
    justify-content: center;
    align-items: center;
}

.information-text {
    width: fit-content;
    align-items: center;
    gap: 8px;
}

.information-text img {
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.info {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.bottom-area {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.bottom-container {
    flex-direction: column;
    gap: 1rem;
    width: fit-content;
}

.button-bar {
    width: fit-content;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.encrypt,
.decrypt,
.copy-button {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.encrypt {
    background: #0a3871;
    color: #d8dfe8;
    flex: none;
    order: 0;
    border: none;
    flex-grow: 0;
}

.decrypt {
    background: #d8dfe8;
    border: 1px solid #0a3871;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #0a3871;
}

.right-area {
    justify-content: center;
    align-items: center;
    width: 40%;
}

.side-noText {
    gap: 32px;
}

.img-sidebar {
    width: 336px;
    height: 304px;
}

.side-result-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 944px;
    margin: 10px 10px;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.text-sidebar-caps {
    color: black;
    width: 400px;
    height: 58px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    padding: 3px;
    text-align: center;
}

.text-sidebar-nothing {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 3px;
    text-align: center;
}

.text-sidebar {
    color: black;
    width: 400px;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    padding: 20px;
}

.copy-button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 20px 0px;
    border: 1px solid #0a3871;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #0a3871;
    transition: all 0.3s ease-in-out;
}

.copy-button:hover {
    background: #0a3871;
    color: white;
}

.img-copy {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

footer {
    width: 100%;
    height: 20px;
    background-color: #0a3871;
    padding: 1px 0px;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: sans-serif;
    color: #d8dfe8;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 3px;
    text-align: center;
    overflow-wrap: break-word;
}

@media screen and (max-width: 1150px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .right-area,
    .left-area,
    .button-bar {
        width: 100%;
    }
    .right-area {
        height: 100%;
    }
    .side-result-container {
        height: auto;
        width: 688px;
    }
    .right-area {
        margin-top: 63px;
    }
    .img-sidebar {
        display: none;
    }
    .text-sidebar-caps {
        padding-top: 20px;
    }
    .text-sidebar-nothing {
        padding-bottom: 20px;
    }
    .text-sidebar {
        width: 688px;
    }
    .copy-button {
        width: 624px;
    }
}

@media screen and (max-width: 750px) {
    .container {
        flex-direction: column;
        height: auto;
    }
    .right-area,
    .left-area,
    .button-bar {
        width: 100%;
    }
    .input-text-container {
        height: fit-content;
    }
    .input-text {
        width: 343px;
        height: 343px;
    }
    .button-bar {
        flex-direction: column;
    }
    .right-area {
        height: 100%;
    }
    .side-result-container {
        height: auto;
        width: 327px;
    }
    .right-area {
        margin-top: 63px;
    }
    .img-sidebar {
        display: none;
    }
    .text-sidebar-caps {
        width: 327px;
        padding: 10px;
        overflow-wrap: break-word;
    }
    .text-sidebar-nothing {
        width: 327px;
        margin-top: 16px;
        padding-bottom: 10px;
        overflow-wrap: break-word;
    }
    .text-sidebar {
        height: auto;
        width: 327px;
    }
    .copy-button {
        width: 280px;
    }
}