* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: #f3f5fc;
    box-sizing: border-box;
}

.container,
.information-text,
.left-area,
.alura-logo,
.button-bar,
.copy-button,
.side-result-container {
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 100%;
    height: 100%;
}

.left-area {
    width: 70%;
    flex-direction: column;
}

.alura-logo {
    margin: 2.5rem 0 0 2.5rem;
    width: 120px;
    height: 48px;
    justify-content: center;
}

.input-text {
    width: 36.0625rem;
    height: 31.25rem;
    background-color: #f3f5fc;
    border: none;
}

.input-text::placeholder,
.input-text {
    font-family: sans-serif;
    font-style: normal;
}

.input-text::placeholder,
.input-text,
.info,
.encrypt,
.decrypt,
.text-sidebar-caps,
.text-sidebar-nothing,
.text-sidebar,
.copy-button {
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0a3871;
}

.input-text-container {
    margin: 5rem 0 0 15rem;
    width: fit-content;
}

.information-text {
    margin: 5rem 0 0 15rem;
    width: fit-content;
    align-items: center;
    gap: 8px;
}

.information-text img {
    width: 16px;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.info {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.button-bar {
    margin: 1rem 0 0 15rem;
    width: fit-content;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.encrypt,
.decrypt,
.copy-button {
    width: 328px;
    height: 67px;
    border-radius: 24px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}

.encrypt {
    background: #0a3871;
    color: #d8dfe8;
    flex: none;
    order: 0;
    border: none;
    flex-grow: 0;
}

.decrypt {
    background: #d8dfe8;
    border: 1px solid #0a3871;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #0a3871;
}

.right-area {
    width: 30%;
}

.side-noText {
    gap: 32px;
}

.img-sidebar {
    width: 336px;
    height: 304px;
}

.side-result-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 944px;
    margin: 10px 10px;
    background: #ffffff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.text-sidebar-caps {
    color: black;
    width: 400px;
    height: 58px;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    padding: 3px;
    text-align: center;
}

.text-sidebar-nothing {
    color: black;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 3px;
    text-align: center;
}

.text-sidebar {
    color: black;
    width: 400px;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    padding: 20px;
}

.copy-button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 10px 0px;
    border: 1px solid #0a3871;
    text-align: center;
    flex: none;
    order: 1;
    flex-grow: 0;
    color: #0a3871;
    transition: all 0.3s ease-in-out;
}

.copy-button:hover {
    background: #0a3871;
    color: white;
}

.img-copy {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

footer {
    width: 100%;
    height: 100%;
    background-color: #0a3871;
    padding: 1px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-family: sans-serif;
    color: #d8dfe8;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 3px;
    text-align: center;
}